.cart{
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #e19303;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
}

.cart:active,
.cart:hover{
    background-color: #ba7a03;
}

.icon{
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}

.entry{
    background-color: #FF6347;
    border-radius: 25px;
    padding: 0.25rem 1rem;
    margin-left: 1rem;
    font-weight: bold;
}

.cart:hover .entrty,
.cart:active .entrty{
    background-color: #faac1c;
}

