.form{
    text-align: right;
}

.form button{
    font: inherit;
    cursor: pointer;
    background-color: #FF6347;
    border: 1px solid #FF6347;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}
  
.form button:hover,
.form button:active {
    background-color: #a11e07;
    border-color: #a11e07;
}
